/* MISC */
div.users_user_menu {
	margin: 0 0 15px 0;
	padding: 5px;
	border: 1px solid #ddd;
	line-height: 26px;
	color: #888;
	box-shadow: 3px 3px 2px #888;
}

div.users_user_menu .ui-state-active, div.users_user_menu .ui-state-active:hover * {
	color: #000 !important;
}

div.order_box {
	float: right;
	width: 32px;
}

div.order_box a.order_desc_icon, div.order_box a.order_asc_icon {
	display: inline-block;
	width: 14px;
}

div.tag_edit {
	width: 100%;
	/*border: 1px solid #f00;*/
	line-height: 16px;
	min-height: 16px;
	cursor: pointer;
}

tr.highlight {
	background-color: #ffa !important;
	color: #f00;
}

table.mwms_detail_table {
	min-width: 830px;
}

table.mwms_data_list caption {
	margin-bottom: 10px;
}

table.mwms_data_list tr {
	background: #fff;
}

table.mwms_meta_detail tr:hover, table.group_live_edit tr:hover, table.meta_live_edit tr:hover {
	background: none !important; 
}

td.meta_head {
	vertical-align: top;
	min-width: 100px;
	max-width: 120px;
	padding: 4px !important;
	font-weight: bold !important;
	background: #eee;
	border-bottom: 2px solid #fff;
}

td.meta_edit_cell {
	vertical-align: top;
	/*min-width: 500px !important;*/
	width: 690px;
	padding: 4px !important;
	background: #eee;
	border-bottom: 2px solid #fff;
}

div.edit_form {
	width: 100%;
}

input.meta_live_edit, select.meta_live_edit {
	min-width: 260px;
	max-width: 450px;
}

textarea.meta_live_edit {
	width: 450px;
}

/* Multiple actions */
#group-set, #user-set {
	padding: 10px 0;
}

#group-set label, #user-set label {
	display: inline-block;
	float: left;
	padding: 2px 6px !important;
	box-shadow: 0 1px 3px #666;
}

/* fn widget */
.mwms-data-widget {
	width: 200px;
	background: #fff;
	border: 1px solid #1D64A9;
	text-align: left;
}

.mwms-data-widget .widget-title {
	line-height: 24px;
	padding: 0 5px;
	background: #1D64A9;
	color: #fefefe;
	font-weight: bold;
	cursor: default;
}

.mwms-data-widget a {
	text-decoration: none;
	display: block;
	line-height: 24px;
	padding: 0 5px 0 25px;
	color: #000;
}

.mwms-data-widget a.edit {
	background: url(../../../../admin/default/img/theme-iconset/note_edit.png) #fff no-repeat 5px center;
}

.mwms-data-widget a.del {
	background: url(../../../../admin/default/img/theme-iconset/note_remove.png) #fff no-repeat 5px center;
}

.mwms-data-widget a.assign {
	background: url(../../../../admin/default/img/theme-iconset/user_accept.png) #fff no-repeat 5px center;
}

.mwms-data-widget a.unassign {
	background: url(../../../../admin/default/img/theme-iconset/user_remove.png) #fff no-repeat 5px center;
}

.mwms-data-widget a:hover {
	color: #666;
	background-color: #dedede;
}

/* fn toolbar */
th.toolbar {
	width: 180px !important;
}

.mwms-data-toolbar {
	/*width: ;*/
}

/* fn dropbox */
.mwms-data-dropbox {
	width: 450px;
	background: #fff;
	margin: 5px auto;
	text-align: center;
	padding: 0 0 5px 0;
}

.dropbox-title {
	line-height: 22px;
	padding: 0 5px;
	background: #1D64A9;
	color: #fefefe;
	font-weight: bold;
	cursor: default;
	margin-bottom: 5px;
	display: inline-block;
}

.ui-effects-transfer { 
	background: #aaa;
	border: 2px dashed #000; 
	opacity: .6;
}

.dropbox-data {
	display: none; 
}

#user-action-result {
	text-align: left;
}

#user-set, #group-set {
	clear: both;
}

#user-set label, #group-set label {
	display: inline-block;
	float: left;
	margin: 5px;
	padding: 2px;
}


/* user xml widget */
.multiple_widget {
	padding: 5px;
	line-height: 25px;
	height: 25px;
	float: none;
}

.multiple_widget_add {
	float: left;
	width:200px;
}

button.mwms_user_meta_new {
	
}

label.pw_confirm {
	float: left; 
	display: inline-block;
	padding: 0 10px;
}

.predefined_widget_view {
	clear: left;
	list-style-type: none;
	margin: 0;
	padding: 0;
	min-height: 20px;
}

.predefined_widget_view li {
	cursor: default;
	margin: 0 5px 5px 5px; 
	padding: 5px; 
	font-size: 12px; 
	height: 18px;
}
.predefined_widget_view .item-remove { float: right; }

.predefined_widget_view li span {
	float: left;
}

div.warn {
	display: inline-block;
	float: right;
	width: 110px;
	font-weight: bold;
	font-size: 10px !important;
	padding: 2px;
	margin: 0;
}

div.ok {
	font-weight: bold;
	padding: 4px;
}


div.bad {
	font-weight: bold;
	padding: 4px;
}

div.warn span.ui-icon, div.ok span.ui-icon, div.bad span.ui-icon {
	float: left;
	margin: 0 4px 0 0;
}

span.toggle-icon {
	background-color: transparent;
	background-position: center center;
	display: inline-block;
	margin: auto auto;
	width: 16px;
	height: 16px;
}

span.on {
	background-image: url(../../../../admin/default/img/theme-iconset/accept.png);
}

span.off {
	background-image: url(../../../../admin/default/img/theme-iconset/remove.png);
}
