#browser_filter label, #browser_filter span.label {
	display: inline-block;
	margin: 5px;
	padding: 2px 5px;
	background: #06c;
	color: #fff;
}

.nettv-prev {
	width: 80px;
	margin: 0 2px;
	/*display: none;*/
}

.ritem {
	background: #eee;
	margin: 2px;
	padding: 2px;
	display: block;
	color: #000;
}

.ritem:hover {
	background: #ddd;
}

.show-prev {
	font-size: 14px;
	font-weight: bold;
	padding: 10px 5px;
	overflow-x: hidden;
	overflow-y: hidden;
}

label.imprev {
	display: inline-block;
	width: 128px;
	height: 120px;
	float: left;
	cursor: pointer;
	text-align: center;
	border: 4px solid #06c;
	margin: 5px;
}
label.imprev:hover {
	background: #ff0;
}
label.imprev img {
	width: 128px;
	height: 96px;
}

#mwms_load_content_inner{
	min-height: 300px;
}

div#mwms_content_show {
	min-height: 400px;
}

label.nettv_edit_thumb {
display: inline-block;
width: 100px;
height: 100px;
overflow: hidden;
margin-left: 10px !important;
border: 2px solid #fff;
text-align: center;
cursor: pointer;
float: left;
}
.nettv_edit_thumb img {
max-width: 100px;
max-height: 100px;
clear: both;
margin-top: 10px;
}
.nettv_edit_thumb_active {
border: 2px solid #f00 !important;
}

/* MISC */
div.nettv_menu {
	margin: 0 0 15px 0;
	padding: 5px;
	border: 1px solid #ddd;
	line-height: 26px;
	color: #888;
	box-shadow: 3px 3px 2px #888;
}

div.nettv_menu .ui-state-active, div.nettv_menu .ui-state-active:hover * {
	color: #000 !important;
}

div.order_box {
	float: right;
	width: 32px;
}

div.order_box a.order_desc_icon, div.order_box a.order_asc_icon {
	display: inline-block;
	width: 14px;
}

table.mwms_detail_table {
	min-width: 830px;
}

table.mwms_data_list caption {
	margin-bottom: 10px;
}

table.mwms_data_list tr {
	background: #fff;
}

table.mwms_meta_detail tr:hover, table.group_live_edit tr:hover, table.meta_live_edit tr:hover {
	background: none !important; 
}

td.meta_head {
	vertical-align: top;
	min-width: 100px;
	max-width: 120px;
	padding: 4px !important;
	font-weight: bold !important;
	background: #eee;
	border-bottom: 2px solid #fff;
}

td.meta_edit_cell {
	vertical-align: top;
	/*min-width: 500px !important;*/
	width: 690px;
	padding: 4px !important;
	background: #eee;
	border-bottom: 2px solid #fff;
}

div.edit_form {
	width: 100%;
}

input.meta_live_edit, select.meta_live_edit {
	min-width: 260px;
	max-width: 450px;
}

textarea.meta_live_edit {
	width: 450px;
}

/* toggled */
span.toggle-icon {
	background-color: transparent;
	background-position: center center;
	display: block;
	margin: 0 auto;
	width: 16px;
	height: 16px;
	line-height: 16px;
}

span.on {
	background-image: url(../../../../admin/default/img/theme-iconset/accept.png);
}

span.off {
	background-image: url(../../../../admin/default/img/theme-iconset/remove.png);
}

#monitor-wrapper #status {
	width: 500px;
	height: 25px;
}

#enc-title {
	font-size: 16px;
	font-weight: bold;
	margin: 10px;
}

.enc-box {
	margin: 10px;
}

.enc-title {
	font-weight: bold;
	font-size: 14px;
	display: inline-block;
	width: 120px;
}

#status-int {
	float: right;
	font-size: 14px;
	font-weight: bold;
	line-height: 25px;
	color: #fff;
}

.ui-progressbar-value { background-image: url(../img/progress.gif); }

/* fn toolbar */
th.toolbar {
	width: 170px !important;
}

.mwms-data-toolbar {
	display: inline-block;
}

div.warn {
	display: inline-block;
	float: right;
	width: 110px;
	font-weight: bold;
	font-size: 10px !important;
	padding: 2px;
	margin: 0;
}

div.ok {
	font-weight: bold;
	padding: 4px;
}


div.bad {
	font-weight: bold;
	padding: 4px;
}

div.warn span.ui-icon, div.ok span.ui-icon, div.bad span.ui-icon {
	float: left;
	margin: 0 4px 0 0;
}

.cc {
	text-align: center !important;
}
